ngx-mat-datepicker-content.mat-datepicker-content {
  border-radius: $border-radius-default;
  background-color: $onyx;
  color: $white;
  font-size: $font-size-sm;

  & * {
    font-size: inherit;
  }

  .mat-mdc-button:not(:disabled) {
    color: $white;
    border-radius: $border-radius-default;
  }

  .mat-calendar {
    &-arrow {
      fill: $white;
    }

    &-previous-button,
    &-next-button {
      color: $white;
    }

    &-table-header,
    &-body-label {
      color: $white;
    }

    &-table-header-divider::after {
      background-color: rgba($white, 0.3);
    }

    &-body-today:not(.mat-calendar-body-selected):not(
        .mat-calendar-body-comparison-identical
      ) {
      border-color: $russian-violet;
    }
  }

  .time-container {
    &:before {
      background-color: rgba($white, 0.3);
      height: 2px;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
      color: $white;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled)
      .mdc-line-ripple::before {
      border-bottom-color: rgba($white, 0.3);
    }
  }

  .mat-datepicker-actions .mat-mdc-button-base + .mat-mdc-button-base {
    border-radius: $border-radius-default;
  }

  .mat-mdc-button .mat-ripple-element,
  .mat-mdc-unelevated-button .mat-ripple-element,
  .mat-mdc-raised-button .mat-ripple-element,
  .mat-mdc-outlined-button .mat-ripple-element {
    background-color: rgba(58, 1, 92, 0.1);
  }

  .mat-mdc-button .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-unelevated-button .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-raised-button .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-outlined-button .mat-mdc-button-persistent-ripple::before {
    background-color: $russian-violet;
    transition: opacity 0.2s ease-in-out;
  }

  .mat-mdc-button:hover .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-unelevated-button:hover .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-raised-button:hover .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-outlined-button:hover .mat-mdc-button-persistent-ripple::before {
    opacity: 0.1;
    background-color: $russian-violet;
    transition: opacity 0.2s ease-in-out;
  }
}

.mat-datepicker-toggle {
  color: $white;

  .mat-mdc-icon-button[disabled][disabled] {
    color: rgba($white, 0.3);
  }
}
