.mat-mdc-dialog-container {
  div.mdc-dialog__surface {
    background-color: $onyx;
    border-radius: $border-radius-xl;

    div.dialog-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: $onyx;
      color: $white;
      max-height: 90vh;
      max-height: calc(var(--vh, 1vh) * 90);

      @media screen and (min-width: $breakpoint-xs) {
        padding: 15px 30px;
      }

      .mdc-dialog__title {
        font-size: $font-size-lg;
        line-height: $line-height-base;
        color: $white;
        padding: 10px 0;
        margin: 0;

        &::before {
          display: none;
          height: 0;
        }
      }

      .mdc-dialog__content {
        color: $white;
        padding: 10px 10px 0 0;

        .content-wrapper {
          background-color: $onyx;
          padding: 16px;
          border-radius: 4px;
        }
      }

      .mat-mdc-dialog-actions.mdc-dialog__actions {
        justify-content: space-between;
        gap: 10px;
        margin-top: 16px;
        padding-inline: 0;

        .mat-button-base + .mat-button-base,
        .mat-mdc-button-base + .mat-mdc-button-base {
          margin: 0;
        }
      }
    }
  }
}
