<div class="board">
  <div class="board-actions">
    <mat-form-field class="input-field-standalone padding-r-s">
      <mat-label title="Filter by title or assignee"
        >Filter by title or assignee</mat-label
      >
      <input matInput type="text" [formControl]="inputFilterControl" />
      <button *ngIf="filterInputDirty" mat-icon-button (click)="clearFilter()">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button (click)="addTask()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </div>
  <div class="board-categories">
    <tmb-task-category
      [tasks]="toDoTasks"
      [title]="'To Do'"
      [category]="TaskStatus.ToDo"
    ></tmb-task-category>
    <tmb-task-category
      [tasks]="inProgressTasks"
      [title]="'In Progress'"
      [category]="TaskStatus.InProgress"
    ></tmb-task-category>
    <tmb-task-category
      [tasks]="completedTasks"
      [title]="'Completed'"
      [category]="TaskStatus.Completed"
    ></tmb-task-category>
  </div>
</div>
