<div class="board">
  <div class="board-actions">
    <div class="filters">
      <mat-form-field class="input-field-standalone padding-r-s">
        <mat-label title="Filter by title or assignee"
          >Filter by title or assignee</mat-label
        >
        <input
          matInput
          type="text"
          [formControl]="titleeAssigneeFilterControl"
        />
        <button
          *ngIf="titleAssigneeFilterActive"
          mat-icon-button
          (click)="clearFilters(true, false)"
        >
          <mat-icon svgIcon="close"></mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="select-field-standalone">
        <mat-label title="Filter by priority">Filter by priority</mat-label>
        <mat-select
          panelClass="select-panel"
          multiple
          [formControl]="prioritiesFilterControl"
        >
          <mat-option
            *ngFor="let priority of taskPriorities"
            [value]="priority"
          >
            {{ priorityLabels[priority - 1] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      *ngIf="prioritiesFilterActive"
      mat-icon-button
      (click)="clearFilters()"
    >
      <mat-icon svgIcon="reset"></mat-icon>
    </button>
    <button class="task-add" mat-icon-button (click)="addTask()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </div>
  <div class="board-categories">
    <tmb-task-category
      [tasks]="toDoTasks"
      [title]="'To Do'"
      [category]="TaskStatus.ToDo"
    ></tmb-task-category>
    <tmb-task-category
      [tasks]="inProgressTasks"
      [title]="'In Progress'"
      [category]="TaskStatus.InProgress"
    ></tmb-task-category>
    <tmb-task-category
      [tasks]="completedTasks"
      [title]="'Completed'"
      [category]="TaskStatus.Completed"
    ></tmb-task-category>
  </div>
</div>
