<mat-card class="task" tmbDraggable [dragData]="task().id">
  <mat-card-header class="task-header">
    <mat-card-title class="task-title" [title]="task().title">{{
      task().title
    }}</mat-card-title>
    <div
      class="task-priority"
      [ngClass]="{
        low: task().priority === TaskPriority.Low,
        medium: task().priority === TaskPriority.Medium,
        high: task().priority === TaskPriority.High
      }"
    >
      {{ priorityLabels[task().priority - 1] }}
    </div>
    <button class="task-options" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="three-dots-horizontal"></mat-icon>
    </button>
    <mat-menu #menu="matMenu" [class]="'menu-panel'">
      <ng-template matMenuContent>
        <div
          cdkTrapFocus
          [cdkTrapFocusAutoCapture]="true"
          (keydown.tab)="$event.stopPropagation()"
        >
          <button mat-menu-item (click)="moreDetails()">
            <mat-icon svgIcon="view"></mat-icon>View more
          </button>
          <button mat-menu-item (click)="edit()">
            <mat-icon svgIcon="edit"></mat-icon>Edit
          </button>
          <button mat-menu-item (click)="remove()">
            <mat-icon svgIcon="delete"></mat-icon>Remove
          </button>
        </div>
      </ng-template>
    </mat-menu>
  </mat-card-header>
  <mat-card-content class="task-content">
    <div class="task-detail">
      <mat-icon svgIcon="calendar-day-highlighted"></mat-icon
      >{{ task().dueDate | momentDate : "DD MMM YYYY HH:mm" }}
    </div>
    <div class="task-detail">
      <mat-icon svgIcon="person"></mat-icon>{{ task().assignee }}
    </div>
  </mat-card-content>
</mat-card>
