@import "../styles/abstracts/variables";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  text-align: center;

  .title {
    margin: 0;
    font-size: 2rem;

    @media only screen and (min-width: $breakpoint-xs) {
      font-size: 3.6rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding-block: 50px;
}

.container {
  width: 100%;
  max-width: $breakpoint-xs;
  padding-inline: 20px;

  @media only screen and (min-width: $breakpoint-sm) {
    max-width: $breakpoint-md;
  }
}
