@import "../../../styles/abstracts/variables";

.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 10px;
  line-height: $line-height-base;

  &-detail {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (min-width: $breakpoint-xs) {
      flex-direction: row;
      gap: 10px;
    }

    span:first-child {
      font-weight: $font-weight-semibold;
    }

    p:last-child {
      word-break: break-all;
    }
  }
}
