<ng-container *ngIf="control?.invalid && (control?.dirty || control?.touched)">
  <ng-container
    *ngIf="validators.includes('required') && control?.errors?.['required']"
    >{{ label }} is a required field.
  </ng-container>
  <ng-container
    *ngIf="validators.includes('minlength') && control?.errors?.['minlength']"
    >{{ label }} has a min length of {{ minLengthValue }} characters.
  </ng-container>
  <ng-container
    *ngIf="validators.includes('maxlength') && control?.errors?.['maxlength']"
    >{{ label }} has a max length of {{ maxLengthValue }} characters.
  </ng-container>
</ng-container>
