@import "../../../styles/abstracts/variables";

.category {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-default;
  padding: 10px 7px;
  background-color: $raisin-black;
  gap: 10px;

  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 3px;

    mat-icon {
      flex-shrink: 0;

      &.todo {
        color: $light-violet;
      }

      &.in-progress {
        color: $yellow;
      }

      &.completed {
        color: $green;
      }
    }

    .task-count {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $onyx;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
    }
  }

  &-title {
    font-size: $font-size-lg;
    margin: 0;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media screen and (min-width: $breakpoint-xs) {
      font-size: $font-size-xl;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 3px;
    max-height: 50vh;
    overflow-y: auto;

    &:empty {
      padding-bottom: 105px;
    }
  }
}
